@model IEnumerable<OnionLibrary.Domain.Models.Book>
@{
    ViewData["Title"] = "Book Page";
}

<div class="btn">
    <a asp-area="" asp-controller="Book" asp-action="EditBook" class="btn-text">+</a>
</div>
 
@{
    foreach (var item in Model)
    {
    <div class="book">
                <div class="inf">
                    <div class="img">
                    <img src="~/img/@item.img" alt=""  width="100%"/>
                    </div>
                    <div class="desc">
                        <h3 class="title"><a asp-area="" asp-controller="Book" asp-action="GetBook" asp-route-id="@item.Id" class="btn-text">@item.Title</a></h3>
                        <hr />
                        <p>@item.Description</p>
                        <hr />
                        <p>#Тут #будут #хэштеги</p>
                    </div>
                </div>
                <div class="btn-panel">
                  
                        <div class="btn" >
                            <a asp-area="" asp-controller="Book" asp-action="EditBook" asp-route-id="@item.Id" class="btn-text">...</a>
                        </div>
                        <div class="btn" >
                            <a asp-area="" asp-controller="Book" asp-action="DeleteBook" asp-route-id="@item.Id" class="btn-text">-</a>
                        </div>
                 
                    
                </div>
                    
    </div>
    }
}
